
<!--
{{#with placeFound}}
    <form action="/places/edit/{{_id}}" method="post">
        <label>
            Nombre
            <input type="text" name="name" value="{{ name }}" />
        </label>
        <br />
        <label>
            Ciudad
            <input type="text" name="location" value="{{ location }}" />
        </label>
        <br />
        <label>
            Estado
            <input type="text" name="state" value="{{ state }}" />
        </label>
        <br />
        <label>
            Descripción
            <input type="text" name="description" value="{{ description }}" />
        </label>
        <br />
        <label>
            Imagen
            <input type="text" name="image" value="{{ image }}" />
        </label>
        <br />
        <button type="submit">Guardar cambios</button>
    </form>
{{/with}}
-->

<header class="bg-lime-500">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="w-full py-6 flex items-center justify-between border-b border-lime-500 lg:border-none">
      <div class="flex items-center">

          <img class="h-10 w-auto" src="/images/diet.png" />

        <div class="hidden ml-10 space-x-8 lg:block">
          <a href="#" class="text-base font-medium text-white hover:text-lime-50"> Perfil </a>

          <a href="/places" class="text-base font-medium text-white hover:text-lime-50"> Establecimientos </a>
        </div>
      </div>
      <div class="ml-10 space-x-4">
        <a href="/auth/logout" class="inline-block bg-white py-2 px-4 border border-transparent rounded-md text-base font-medium text-lime-500 hover:bg-lime-50">Cerrar sesión</a>
      </div>
    </div>
    <div class="py-4 flex flex-wrap justify-center space-x-6 lg:hidden">
      <a href="/profile" class="text-base font-medium text-white hover:text-lime-50"> Perfil </a>

      <a href="/places" class="text-base font-medium text-white hover:text-lime-50"> Establecimientos </a>
    </div>
  </nav>
</header>

{{#with placeFound}}
<div class="flex items-center">
  <div class="flex mt-2 ml-2">
    <a href="/places/{{_id}}">
      <img class="h-8 w-auto sm:h-10" src="https://w7.pngwing.com/pngs/332/713/png-transparent-museum-belvedere-vienna-symbol-font-left-arrow-miscellaneous-angle-photography.png" />
    </a>
  </div>
</div>
<form action="/places/edit/{{_id}}" method="post">
<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <!-- <img class="mx-auto h-12 w-auto" src="" alt="Image"> -->
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Edita el establecimiento</h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <div>
          <label class="block text-sm font-medium text-gray-700"> Nombre </label>
          <div class="mt-1">
            <input name="name" type="text" value="{{ name }}" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
        </div>

          <div>
          <label class="block text-sm font-medium text-gray-700"> Estado </label>
          <div class="mt-1">
            <input name="state" type="text" value="{{ state }}" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-700"> Ciudad </label>
          <div class="mt-1">
            <input name="location" type="text" value="{{ location }}" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-700"> Descripción </label>
          <div class="mt-1">
            <textarea name="description" type="text" value="{{ description }}" cols="30" rows="4" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
          </div>
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-700"> Imagen </label>
          <div class="mt-1">
            <input name="image" type="text" placeholder="url" value="{{ image }}" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
        </div>
        <br>
        <div>
          <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-lime-500 hover:bg-lime-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-400">Guardar cambios</button>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
</form>
{{/with}}
